<div class="rank-row {{if rank.currentUser "rank-row-highlight"}}" id="leaderboard-user-{{rank.id}}">
  {{#if is_group_leaderboard}}
    <div class="rank-row__rank">{{sum index 1}}</div>
  {{else}}
    <div class="rank-row__rank">{{sum index 4}}</div>
  {{/if}}
  <div class="rank-row__avatar clickable" role="button" data-user-card={{rank.username}}>
    {{avatar rank imageSize="large"}}
    <span class="rank-row__name">{{rank.username}}</span>
  </div>
  {{#if is_group_leaderboard}}
  <div class="rank-row__membership-flairs">
    {{#each rank.groups as |group|}}
      {{gamification-leaderboard-group-flair group=group}}
    {{/each}}
  </div>
  {{/if}}
  <div class="rank-row__score">
    {{#if site.mobileView}}
      {{number rank.total_score}}
    {{else}}
      {{fullnumber rank.total_score}}
    {{/if}}
  </div>
</div>
