<div class="leaderboard">
  <div class="page__header">
    <h1 class="page__title">{{ model.name }}</h1>
    {{d-button action=(action "showLeaderboardInfo") class="-ghost" icon="info-circle" label=(unless site.mobileView "gamification.leaderboard.info")}}
  </div>

  <div class="podium__wrapper">
    <div class="podium">
      {{#if model.leaderboard.is_group_leaderboard}}

        {{#each group_winners as |winner position|}}
          <div class="winner -position{{sum position 1}}">
            <div class="winner__crown">{{d-icon "crown"}}</div>
            <div class="winner__avatar">
              {{gamification-leaderboard-group-flair group=winner}}
              <div class="winner__rank">
                <span>{{sum position 1}}</span>
              </div>
            </div>
            <div class="winner__name">{{ winner.name }}{{" | "}}{{d-icon "user"}} {{ winner.user_count }}</div>
            <div class="winner__score">{{ fullnumber winner.total_score }}</div>
          </div>
        {{/each}}

      {{else}}
      
        {{#each winners as |winner position|}}
          <div class="winner -position{{sum position 1}}">
            <div class="winner__crown">{{d-icon "crown"}}</div>
            <div class="winner__avatar clickable" role="button" data-user-card={{ winner.username }}>
              {{avatar winner imageSize="huge"}}
              <div class="winner__rank">
                <span>{{sum position 1}}</span>
              </div>
            </div>
            <div class="winner__name">{{ winner.username }}</div>
            <div class="winner__score">{{ fullnumber winner.total_score }}</div>
          </div>
        {{/each}}

      {{/if}}
    </div>

    {{#if model.leaderboard.is_group_leaderboard}}
      {{#if group_ranking}}
        <div class="ranking-col-names ranking-col-group">
          <span>Rank</span>
          <span>{{d-icon "award"}}{{i18n "gamification.score"}}</span>
        </div>
        <div class="group__ranking">
          {{#each group_ranking as |group index|}}
            {{gamification-leaderboard-group-row group=group index=index}}
          {{/each}}
        </div>
      {{/if}}
    {{/if}}
  </div>

  <div class="ranking">
    {{#if model.leaderboard.is_group_leaderboard}}
      <div class="group-breakdown-header">{{i18n "gamification.leaderboard.group_user_breakdown"}}</div>
      <hr>
    {{/if}}
    <div class="ranking-col-names">
      <span>Rank</span>
      <span>{{d-icon "award"}}{{i18n "gamification.score"}}</span>
    </div>
    <div class="ranking-col-names__sticky-border"></div>
    {{#if currentUserRanking.user}}
      <a href="#leaderboard-user-{{ currentUserRanking.user.id }}" class="rank-row -self">
        <div class="rank-row__rank">{{ currentUserRanking.position }}</div>
        <div class="rank-row__name">{{i18n "gamification.you"}}</div>
        <div class="rank-row__score">
          {{#if site.mobileView}}
            {{number currentUserRanking.user.total_score}}
          {{else}}
            {{fullnumber currentUserRanking.user.total_score}}
          {{/if}}

        </div>
      </a>
    {{/if}}

    {{#load-more selector=".user" action=(action "loadMore")}}
      {{#each ranking as |rank index|}}
        {{gamification-leaderboard-row rank=rank index=index is_group_leaderboard=model.leaderboard.is_group_leaderboard}}
      {{/each}}
    {{/load-more}}
    {{conditional-loading-spinner condition=loading}}
  </div>
</div>
